body {
  font-family: "Poppins", sans-serif;
}

#adminmenu div.wp-menu-name {
  padding: 8px 8px 9px 36px;
}

img {
  max-width: 100%;
  height: auto;
}

.gcb-editor-form {
  background-color: #F4F4F5;
  color: #282844;
  -webkit-box-shadow: 0px 0px 20px #7457fe24;
  box-shadow: 0px 0px 20px #7457fe24;
}

.block-preview {
  background-color: #0C0E20;
  min-height: 150px;
  max-height: 400px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.block-preview .template-path {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 14px;
}

.block-preview .template-path p {
  background: #0C0E20;
  color: #797C97;
  margin: 0;
  font-size: 10px;
  line-height: 12px;
  padding: 1px 5px;
}

.components-modal__content .components-modal__header {
  font-weight: 400;
}

.components-modal__content .gcb-editor-form > h3 {
  display: none;
}

.d-none {
  display: none !important;
}

.acf-preview {
  height: 100%;
}

.acf-preview img {
  width: 100%;
  height: auto;
}

.acf-field.disabled .acf-label {
  pointer-events: none;
}

.acf-field.disabled label {
  pointer-events: none;
}

.acf-field.disabled input {
  pointer-events: none;
  background-color: #e9ecef;
  color: #6c757d;
  opacity: 0.65;
}