.sidebar-top-posts .all-articles__item {
  padding-bottom: 1.875rem;
}

.sidebar-top-posts .all-articles__item:last-child {
  padding-bottom: 0;
}

.sidebar-top-posts .post-item__image-wrap {
  margin-bottom: 0.75rem;
}

.sidebar-top-posts .post-item__date {
  margin-bottom: 0.5rem;
}

.sidebar-top-posts .post-item__title {
  margin-bottom: 2rem;
}

.sidebar-top-posts .post-item__image {
  min-height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.sidebar-top-posts .post-item__exerpt {
  display: none;
}