.banner-fullwidth-2 {
  padding: 0;
}

.banner-fullwidth-2__image {
  position: absolute;
}

.banner-fullwidth-2 .container .row {
  background: -webkit-linear-gradient(180deg, #7fd9ff -34.2%, #923cff 79.64%);
  border-radius: 12px;
  margin: 0;
}

.banner-fullwidth-2 .container .row > :first-child {
  padding: 2.813rem 0 2.813rem 3.75rem;
  z-index: 5;
}

.banner-fullwidth-2 .container .row > :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-fullwidth-2 .container h2 {
  margin-bottom: 3.125rem;
  color: #ffffff;
}

.banner-fullwidth-2 .container .btn {
  min-width: 11.875rem;
  padding: 0.75rem 1.5rem;
}

.banner-fullwidth-2 .container .buy-links {
  margin-top: 1.875rem;
}

.banner-fullwidth-2 .container .buy-links > :first-child {
  margin-right: 1.875rem;
}

.banner-fullwidth-2 .container .btn-app {
  width: 150px;
  height: 50px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center;
}

@media (max-width: 1399.98px) {
  .banner-fullwidth-2 .container img {
    width: 100%;
  }
}

@media (max-width: 1039.98px) {
  .banner-fullwidth-2 .container img {
    width: auto;
  }
}

@media (max-width: 767.98px) {
  .banner-fullwidth-2 .container .row > :first-child {
    padding: 2.813rem 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .banner-fullwidth-2 .container .row > :last-child {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .banner-fullwidth-2 .container {
    background: -webkit-linear-gradient(180deg, #7fd9ff -34.2%, #923cff 79.64%);
    padding: 25px 15px;
  }

  .banner-fullwidth-2 .container .row {
    background: none;
    border-radius: 0;
  }

  .banner-fullwidth-2 .container .row > :first-child {
    padding: 15px;
  }

  .banner-fullwidth-2 .container h2 {
    font-size: 1.538rem;
    text-align: center;
  }

  .banner-fullwidth-2 .container .buy-links > :first-child {
    margin-right: 1rem;
  }
}