
.archive {
    &__page-title {
       margin-bottom: 4rem; 
    }
}

.btn-loadmore{
    margin: 0 auto;
    padding: .75rem 1.5rem;
    padding-right: 1rem;
    transition: color 0s, border 0s;   
    margin-bottom: 3rem; 
}