.banner-fullwidth-1 {
  padding: 0;
}

.banner-fullwidth-1__image {
  position: absolute;
  bottom: 0;
  width: 21.375rem;
}

.banner-fullwidth-1 .container .row {
  background: -webkit-linear-gradient(180deg, #7fd9ff -34.2%, #923cff 79.64%);
  border-radius: 8px;
  margin: 0;
}

.banner-fullwidth-1 .container .row > :first-child {
  padding: 2.813rem 0 2.813rem 3.75rem;
}

.banner-fullwidth-1 .container .row > :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner-fullwidth-1 .container h2 {
  margin-bottom: 3.125rem;
  color: #ffffff;
}

.banner-fullwidth-1 .container .btn {
  min-width: 11.875rem;
  padding: 0.75rem 1.5rem;
}

.banner-fullwidth-1 .container .buy-links {
  margin-top: 1.875rem;
}

.banner-fullwidth-1 .container .buy-links > :first-child {
  margin-right: 1.875rem;
}

.banner-fullwidth-1 .container .btn-app {
  width: 150px;
  height: 50px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center;
}

@media (max-width: 767.98px) {
  .banner-fullwidth-1 .container .buy-links > :first-child {
    margin-bottom: 1.875rem;
  }

  .banner-fullwidth-1 .container .buy-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .banner-fullwidth-1__image {
    width: 100%;
  }

  .banner-fullwidth-1 .container {
    background: -webkit-linear-gradient(180deg, #7fd9ff -34.2%, #923cff 79.64%);
    padding: 0 15px;
  }

  .banner-fullwidth-1 .container .row {
    background: none;
    border-radius: 0;
  }

  .banner-fullwidth-1 .container .row > :first-child {
    padding: 15px;
  }
}