header {	
	@include media-breakpoint-up(xl){ padding-top: 73px; }
	@include media-breakpoint-only(lg){ padding-top: 63px; }
	@include media-breakpoint-only(md){ padding-top: 49px; }
	@include media-breakpoint-down(sm){ padding-top: 46px; }
}



.navbar {	
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 990;
	box-shadow: 0px 4px 4px 0px #0000001A;

	.container {
		gap: 15px;
	}

	.navbar-brand {
		height: 100%;
		display: flex;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-utility-menu{		
		@include media-breakpoint-down(md){
			display: flex;
			align-items: center;
			flex-wrap: wrap;					
		}			
	}

	.navbar-download {
		gap: 25px;		
	}

	.navbar-collapse {
		@include media-breakpoint-down(md){
			padding: 2rem 0;
		}		
	}

	
}

//navbar links
.navbar-nav .nav-link {
	font-size: 1.125rem;	
	
	@include media-breakpoint-up(lg) {
		position: relative;
		&:before {
			content:'';
			position: absolute;
			bottom:calc( $nav-link-padding-y - 5px );
			left: $nav-link-padding-x;
			width:0px;
			height: 2px;
			display:block;
			background:$gradient-primary;
			transition: width 0.3s ease-in-out;
		}
		&:hover {
			&:before {
				width:3.5rem;
			}
		}
		&:active {
			&:before {
				width:3.5rem;
			}
		}
	}

	@include media-breakpoint-only(lg){
		font-size: 1.05rem;
		&::after{
			vertical-align: 0.15em;
		}
	}
}



//order
.navbar {
	.container {
		@include media-breakpoint-down(md) {
			.navbar-brand {
				order: 1;
			}	
			.navbar-download {
				order: 2;
				margin-left: auto;
				gap: 15px;
			}	
			.navbar-toggler {
				order: 3;
			}	
			.navbar-collapse {
				order: 4;
			}
			
		}
	}
}





//dropdown on hover 
@include media-breakpoint-up(lg) {
	nav.navbar {
		.dropdown > .dropdown-menu {		
			margin: -0.125rem 0 0;
		}
		.dropdown:hover > .dropdown-menu {
			display: block;		
		}
	}
}

//dropdown mobile
#menu-primary {
	width: 100%;	
	@include media-breakpoint-down(md) {
		.dropdown-menu {
			border:none;
			background:none;			
		}
	}	
}	


//admin fix
.admin-bar {	
	.navbar {	
		top: 34px;
	}
}
