.theme-dark {   
    
    .section-header {
        &__header { }
        &__text { color:$gray-1; }
    }   
        
    .bg-dark { 
        background-color:$dark;
        &::before {
        background-color: $dark;
        } 
    }
    
    .bg-dark-1 {
        background-color:$dark-1;
    }

    .frame {
        background:$dark-1;
        border: 1px solid $border-color;
        border-radius: $border-radius;
    }

    .btn-readmore {
        color:$white;
    }


    .btn-secondary--dark {
        &:hover {
          box-shadow: 0px 1px 30px 0px #FFFFFF40;
          color:$blue;
          background:$white;
        }
      }
      
      .btn-outline-secondary--dark {
          border-color:$secondary;
        &:hover {
          color:$primary;
          background:none;
        }
      }

    .btn-black--dark {
        background:$text-color-dark;
        color:$white;
        &:hover {
          background: darken($text-color-dark, 5);
          box-shadow: 0px 1px 30px 0px #FFFFFF40;
        }  
      }

      .btn-outline-black--dark {
        background:none;
        border-color:$text-color-dark;
        color:$text-color-dark;
        &:hover {
            background:none;  
            color:$primary;        
        }  
      }

    //utility

    .text-gradient--dark { 
        color:$primary;       
        background: -webkit-linear-gradient(298.87deg, #648CB4 21.75%, #789DBF 92.28%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:fit-content;
        padding-bottom: 0.2rem;
    }

    .text-gray--dark {
        color:$gray-1;
    }

    .text-white--dark {
        color:$white;
    }

    .text-black--dark {
        color:$text-black;
    }

    .text-dark--dark {
        color:$text-color-dark;
    }

    .text-blue--dark {
        color:$blue;
    }
    
    .text-blog--dark {
        color:$blog-color;
    }      
  
    .text-green--dark {
        color:$green;
    }

    .text-red--dark {
        color:$red;
    }

}






