html {
	font-size: 16px;
	scroll-behavior: smooth;

	@include media-breakpoint-only(lg) {
		font-size: 14px;
	}

	@include media-breakpoint-only(md) {
		font-size: 14px;
	}

	@include media-breakpoint-only(sm) {
		font-size: 13px;
	}

	@include media-breakpoint-only(xs) {
		font-size: 13px;
	}
}



body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	align-content: stretch;
	font-size: 1.25rem;
	//overflow-x: hidden;
}


img {
	width: 100%;
	height: auto;
}

.attachment-full.size-full {
	width: 100%;
	height: auto;
}

h1, h2, .h1, .h2 {
	font-weight: $font-weight-bolder;
}
h2, .h2 {
	@include media-breakpoint-down(sm){
		font-size: 2.75rem;
	}
}

ul {
	font-size: 1rem;
	color:$white;
}

[onclick^="window"] {
	cursor: pointer !important;
}



//sections
section {
	padding: $section-padding-y 0;
	margin-bottom: $section-margin-bottom;
	margin-top: -1px;
	position: relative;
	> .bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		overflow: hidden;
	}
}


//section headers

$header-line-width: 10rem;
.section-title {	
    padding-top: 1rem;	
   	position: relative;
	text-align: left;
	h1, h2, .h1, .h2 {
		font-size: $h2-font-size;  
		margin-bottom: 0;   	
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 2rem;
		height: 4px;
		background: $gradient-primary;		
		transition-property: width;
		transition-duration: 0.5s;
		transition-delay: 0.2s;
		transition-timing-function: ease-in-out;
		.bg-primary &{
			background:$white;
		}		
	}	
	&.text-center {
		&:before{
			left: 50%;
			transform: translateX(-5rem);
		}
	}	
	&.scrolled{
		&:before{
			width: $header-line-width;
		}	
	}
  }
 


.section-subtitle {
	font-size: 1.375rem;	
	line-height: 1.3;
}


//page header
.page-header {
	padding: 6rem 0;

	&__title {
		font-size: $h1-font-size;
		margin-left: auto;
		margin-right: auto;
	}

	&__search {
		display: flex;
		justify-content: center;
		margin-top:2.5rem;		
	}
}



// breadcrumbs
.breadcrumbs {
	padding-top: 3rem;
	padding-bottom: 3.25rem;
	font-weight: 400;
	font-size: 1rem;
	color: $gray;

	&__link {
		color: #57637F;
	}
}




//lists
.list-checker {
	list-style: none;
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 500;
	padding: 0;
	margin: 0;

	li {
		margin-bottom: 0.75rem;
		padding-left: 2.5rem;
		position: relative;

		&::before {
			content: '\e806';
			position: absolute;
			left: 0;
			top: 0;			
			display: inline-block;
			font-family: 'cornix';
			color: $green;
			font-size: 120%;
		}
	}

}


.pagination {
	.page-numbers {
		font-size: 1.25rem;
		font-weight: 600;			
		text-align: center;
		padding: 0 .85rem;
		&.next { margin-left: 1.75rem; }
		&.prev { margin-right: 1.75rem; }
		&.current {	color:$white; }
		&:hover { color:$white; }
	}
}



.block {
    .wp-block-image {
        margin-bottom: 0;
    } 
}